@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  margin: 0 auto;
  max-width: 940px;
  padding: 32px 230px 0;
}
header img{
  margin-right: 122px;
}

header p{
  margin-right: 30px;
}

.links {
  display: flex;
}

.links a{
  text-decoration: none;
  color: black;
}

.links a:hover{
  font-weight: bold;
}

.intro {
  max-width: 940px;
  margin: 0 auto;
}

.intro h1{
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 4.6%;
  margin-bottom: 1.8%;
}

.intro h2{
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 2.7%;
  margin-bottom: 1.8%;
}

.title h1{
  font-weight: bold;
  font-size: 32px;
  color: #111111;
  margin-bottom: 10px;
  line-height: 38px;
}

.title p{
  font-size: 18px;
  line-height: 28px;
}

footer{
  text-align: center;
  background-color: #EEEEEE;
  margin-top: 4.6%;
  padding: 23px 0;
}
